.hulk, .hulk-map-key, .hulk-map-value, .hulk button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.hulk-map-key, .hulk-map-value {
    padding: 7px 10px;
}

.hulk-map-key {
    font-weight: bold;
}

.hulk-map-key, .hulk-map-value {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.hulk-input-textarea {
    resize: none;
    vertical-align: top;

    // not sure why, top of textarea is 4px higher than top of input.
    margin-top: 4px;
}

/*.hulk-array-element > input {*/
    /*border: 1px solid blue;*/
/*}*/

// XXX pick better values here.
$top: #fafafa;
$bottom: #eaeaea;

.hulk button {
    border-radius: 3px;
    border: 1px solid #ddd;
    background-image: linear-gradient($top, $bottom);

    // XXX add active states, better button states.
    &:hover {
        background-image: linear-gradient($top - #0f0f0f, $bottom - #0f0f0f);
    }
    padding: 5px 10px;
}

/**
 * Separate dictionary items in lists 
 */
.hulk-array-element > .hulk-map {
    border-bottom: 1px solid #ccc;
}

.hulk-array-element:nth-last-of-type(1) > .hulk-map {
    border-bottom: none;
}

// XXX lazy
$top: #efb73d;
$bottom: #a5750d;
.hulk .hulk-save {
  // via http://charliepark.org/bootstrap_buttons/
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efb73d", endColorstr="#a5750d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efb73d), to(#a5750d));
  background-image: -moz-linear-gradient(top, #efb73d, #a5750d);
  background-image: -ms-linear-gradient(top, #efb73d, #a5750d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb73d), color-stop(100%, #a5750d));
  background-image: -webkit-linear-gradient(top, #efb73d, #a5750d);
  background-image: -o-linear-gradient(top, #efb73d, #a5750d);
  background-image: linear-gradient(#efb73d, #a5750d);
  border-color: #a5750d #a5750d hsl(41, 85%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;

  min-width: 200px;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 6px;

  &:hover {
      color: #333;
      text-decoration: none;
      background-image: linear-gradient($top - #0f0f0f, $bottom - #0f0f0f);
      cursor: pointer;
  }
}
