.hulk, .hulk-map-key, .hulk-map-value, .hulk button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.hulk-map-key, .hulk-map-value {
    padding: 7px 10px;
}

.hulk-map-key {
    font-weight: bold;
}

.hulk-map-key, .hulk-map-value {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.hulk-input-textarea {
    resize: none;
    vertical-align: top;

    // not sure why, top of textarea is 4px higher than top of input.
    margin-top: 4px;
}

/*.hulk-array-element > input {*/
    /*border: 1px solid blue;*/
/*}*/

// XXX pick better values here.
$top: #fafafa;
$bottom: #eaeaea;

.hulk button {
    border-radius: 3px;
    border: 1px solid #ddd;
    background-image: linear-gradient($top, $bottom);

    // XXX add active states, better button states.
    &:hover {
        background-image: linear-gradient($top - #0f0f0f, $bottom - #0f0f0f);
    }
}

/**
 * Separate dictionary items in lists 
 */
.hulk-array-element > .hulk-map {
    border-bottom: 1px solid #ccc;
}

.hulk-array-element:nth-last-of-type(1) > .hulk-map {
    border-bottom: none;
}
