$left-indent: 30px;
$spacing: 10px;

/**
 * This file contains layout instructions for Hulk text inputs
 */
.hulk-map-key, .hulk-map-value {
    padding: 4px 6px;
    margin: 0 $spacing 10px $spacing;
}

.hulk-map-add-pair, .hulk-array-add-row {
    margin-left: $spacing;
}

.hulk-map-pair, .hulk-array {
    margin-left: $left-indent;
}

.hulk-map-add-pair {
    margin-left: $left-indent + $spacing;
}

.hulk-separator {
    position: relative;
    bottom: 5px;
    display: inline-block;
}

.hulk-collapse-item {
    margin-bottom: 10px;
    margin-left: $spacing;
}

/**
 * Separate dictionary items in lists 
 */
.hulk-array-element > .hulk-map {
    padding-bottom: 6px;
    margin-bottom: 16px;
}

.hulk-array-element:nth-last-of-type(1) > .hulk-map {
    padding-bottom: 6px;
    margin-bottom: 0;
}

#hulk-save {
    margin-left: $left-indent;
}
