.hulk-map-key {
    font-weight: bold;
}

.hulk-map-key, .hulk-map-value {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.hulk-array-element > input {
    border: 1px solid blue;
}

// XXX pick better values here.
$top: #fafafa;
$bottom: #eaeaea;

.hulk button {
    border-radius: 3px;
    border: 1px solid #ddd;
    background-image: linear-gradient($top, $bottom);

    // XXX add active states, better button states.
    &:hover {
        background-image: linear-gradient($top - #0f0f0f, $bottom - #0f0f0f);
    }
}

/**
 * Separate dictionary items in lists 
 */
.hulk-array-element > .hulk-map {
    border-bottom: 1px solid #ccc;
}

/*
 * The last child is usually, but not always, the button. Need a better way to
 * do this, maybe just give up on the visual separator.
 */
.hulk-array-element:nth-last-child(2) > .hulk-map {
    border-bottom: none;
}

